Babel
chromadb
datasets
django_haystack
elasticsearch
evaluate
langchain
langchain_chroma
langchain_community
langchain_core
langchain_text_splitters
matplotlib
morfessor
numpy
pandas
venn
psutil
regex
roman
scikit-learn
scipy
seaborn
spacy
